extends ../layout

block content
    h1= title
    if errors.errors !== undefined
        each message in errors.errors
            p=message
    form(method='post')
        p
            label Article title:
            input(type='text' name='title' value=body.title || '')
        p
            label Article content:
            textarea(name='description')=body.title || ''
        p
            input(type='submit' value='Send')

